@font-face {
  font-family: Norse-Bold;
  src: url('fonts/Norse-Bold.otf');
}

html, body {
  display: flex;  
  background-color: rgb(210, 210, 210);
  height: 100%;
  width: 100%;
}


/********** ABSOLUTE PART ***********/

.odin-headband {
  display: flex;
  background-color: rgba(0, 0, 0, 0.08);
  height: 15%;
  width: 100%;
  margin-top: 10%;
  position: absolute;
}

.logo-ODIN {
  display: flex;
  padding-left: 5%;
  width: auto;
  height: auto;
}

.main-ODIN {
  display: flex;
  color: white;
  font-family: "Norse-Bold";
  margin-left: 5px;
  align-self: center;
  font-size: 150px;
  max-width: 50px;

}



/*********** LEFT PART ***********/

.left-part {
  display: flex;
  flex-direction: column;
  background-image: url("imgs/halie-west-25xggax4bSA-unsplash.jpg");
  background-position: center top;
  background-size: auto 100%;
  height: 100%;
  width: 33%;
}




.left-empty-space {
  display: flex;
  flex: 1;  /* Used to push credits at the bottom */
}


.left-image-credits {
  color: white;
  text-align: center;
  font-size: 10px;
  margin-bottom: 5%;
}



/*********** RIGHT PART ***********/

.right-part {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.right-presentation {
  display: flex;
  flex-direction: column;
  margin: 10% 30% 0 5%;
  gap: 10px;
  font-weight: bold;
  font-size: 36px;
}

/* Form */

.form-inscription {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 7%;
  padding: 3% 30% 3% 5%;
  gap: 30px;
}

#letsdothis {
  font-size: 30px;
  color: rgb(50,50,50);
}

.content-six-fields {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.row-two-fields {
  display: flex;
  gap: 10%;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.field > label {
  color: rgb(50,50,50);
  letter-spacing: 1px;
  font-size: 14 px;
}


/* Button & Already have an account */

.button-submit-create-account {
  display: flex;
  background-color: #596D48;
  margin: 30px auto 0 5%;
  color: white;
  border-radius: 10px;
  height: 50px;
  width: 250px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

#already-have-account {
  color: rgb(50, 50, 50);
  font-size: 20px;
  margin: 10px auto 0 5%;
}

#already-have-account > a {
  color: #596D48;
  text-decoration: none;
  font-weight: bold;
}