@font-face {
  font-family: Norse-Bold;
  src: url('fonts/Norse-Bold.otf');
}

html, body {
  display: flex;  
  background-color: rgb(230, 230, 230);
  height: 100%;
  width: 100%;
}


/********** ABSOLUTE PART ***********/

.odin-headband {
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  height: 15%;
  width: 100%;
  margin-top: 10%;
  position: absolute;
}

.logo-ODIN {
  display: flex;
  padding-left: 5%;
  width: auto;
  height: auto;
}

.main-ODIN {
  display: flex;
  color: white;
  font-family: "Norse-Bold";
  margin-left: 5px;
  align-self: center;
  font-size: 100px;
  max-width: 50px;

}



/*********** LEFT PART ***********/

.left-part {
  display: flex;
  flex-direction: column;
  background-image: url("imgs/halie-west-25xggax4bSA-unsplash.jpg");
  background-position: center top;
  background-size: auto 100%;
  height: 100%;
  width: 33%;
}




.left-empty-space {
  display: flex;
  flex: 1;  /* Used to push credits at the bottom */
}


.left-image-credits {
  color: white;
  text-align: center;
  font-size: 10px;
  margin-bottom: 5%;
}



/*********** RIGHT PART ***********/

.right-part {
  display: flex;
  flex-direction: column;
  height: 100%;

}



  
h1 {
  color: navy;
  margin-left: 20px;
}